{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h2>Available Animals for Adoption</h2>
    <div class="row">
        {% for animal in animals %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ animal.image_url }}" class="card-img-top" alt="{{ animal.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ animal.name }}</h5>
                    <p class="card-text">{{ animal.description }}</p>
                    <button class="btn btn-primary">Adopt Me</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}